version: "3"
services:
    client:
        image: lhms-app
        restart: always
        container_name: lhms-app
        ports:
            - "3000:3000"
        environment:
            LETSENCRYPT_EMAIL: david.williams110913@gmail.com
            LETSENCRYPT_HOST: test.lhms.dtwilliams10.com
            VIRTUAL_HOST: test.lhms.dtwilliams10.com
        volumes:
            - ./client:/client
            - /client/node_modules
        links:
            - api
        networks:
            - webappnetwork
    api:
        image: lhmsapi
        restart: always
        container_name: lhmsapi
        environment:
            LETSENCRYPT_EMAIL: david.williams110913@gmail.com
            LETSENCRYPT_HOST: test.lhmsapi.dtwilliams10.com
            VIRTUAL_HOST: test.lhmsapi.dtwilliams10.com
            ASPNETCORE_ENVIRONMENT: Staging
            ASPNETCORE_URLS: https://test.lhmsapi.dtwilliams10.com
        ports:
            - "5000:5000"
        volumes:
            - ./api:/api
            - /api/node_modules
        depends_on:
            - mongodb
        networks:
            - webappnetwork
    mongodb:
        image: mongo
        restart: always
        container_name: mongodb
        volumes:
            - ./data-node:/data/db
        ports:
            - "27017:32783"
        networks:
            - webappnetwork
networks:
    webappnetwork:
        driver: bridge
