.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  justify-content: center;
}

.App-header {
  background-color: #222;
  height: 20vh;
  padding: 2vh;
  color: white;
}

.App-title {
  font-size: 1.5em;
  align-items: center;
}

.App-intro {
  font-size: large;
}
