body {
  margin: 0;
  font-family: sans-serif;
  background: #f0f0f0;
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  justify-content: center;
}

.App-header {
  background-color: #222;
  height: 25vh;
  padding: 2vh;
  color: white;
}

.App-title {
  font-size: 1.5em;
  align-items: center;
}

.App-intro {
  font-size: large;
}

.SystemReportform {
  border: black;
  border-block: initial;
  align-items: center;
}

.TextField {
  border: thick double black;
}

.draft-editor-wrapper {
  border: 1px solid black;
  height: 250px;
}
