.public-DraftEditor-content {
  background: #fff;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1em;
  overflow: auto;
  min-height: 300px;
  max-height: 100%;
}
